.grid {
  margin: 0 auto;
  width: calc(100vw - 40px);
  @include breakpoint(sm) {
    max-width: 576px;
    margin: 0 auto;
  }
  @include breakpoint(md) {
    max-width: 768px;
    margin: 0 auto;
  }
}
