.grid {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100vw - 40px);
  @include breakpoint(sm) {
    max-width: 576px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
