#landingAbout {
  margin: 3.75rem 0 5rem 0;

  .about {
    &__h3 {
      @extend .text-gradient;
      text-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
      margin-bottom: 2.5rem;
    }

    &__image {
      width: 100%;
      margin-bottom: 2.5rem;
    }

    &__info {
      padding: 0 2rem;
      margin-bottom: 2.5rem;
      text-decoration: none;
      display: block;
    }

    &__h4 {
      @extend .text-white;
      margin-bottom: 0;
    }
  }
}
