#landingPackages {
  @extend .grid;
  padding: 3.125rem 0 3.75rem 0;

  .package {
    width: 100%;
    margin-bottom: 0.75rem;
    padding: 2.5rem 1.25rem;
    display: block;
    text-decoration: none;

    background-color: $color-gray;
    border-radius: 8px;
    box-sizing: border-box;

    &__h3 {
      @extend .text-white;
      margin: 0.75rem 0 1rem 0;
    }

    &__buttonHolder {
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;
    }

    &__agency {
      margin: 2rem 0 2.5rem;
      display: flex;
      justify-items: space-between;
      align-items: center;

      > .packages__agency {
        width: calc(50% - 0.8125rem);
        height: auto;

        object-fit: scale-down;
        object-position: center;
      }
    }

    &__image {
      box-sizing: border-box;
      height: auto;
      width: 50%;
      padding: 0 2rem;
      flex-shrink: 0;

      margin-bottom: 2rem;
    }

    &__price {
      margin-top: 2.5rem;
      text-align: right;
    }
  }
}
