.button {
  @extend .text-button1;
  @extend .text-primary;
  text-decoration: none;
  // text-underline-position: under;
  // text-decoration: $color-secondary underline wavy;

  &--white {
    @extend .text-white;
  }

  &--white40 {
    @extend .text-white40;
  }

  &__image {
    margin-left: 1.25rem;

    transition: margin-right 0.1s ease;
    &:hover,
    &:focus {
      margin-right: 1.5rem;
    }

    &--small {
      margin-left: 0.75rem;
    }
  }

  &--small {
    @extend .text-button2;
  }
}
