@mixin bar {
  display: block;
  position: absolute;
  height: 2px;
  border-radius: 6px;
  background-color: $color-white;
}

.hamburger {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4);
  height: 50px;
  width: 50px;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.75rem;

  transition: 0.2s box-shadow ease, 0.1s border ease;

  &:focus{
    outline: none;
  }

  &--project {
    box-shadow: none;
    border: 1px solid $color-white;
  }

  &__container {
    position: relative;
    width: 24px;
    height: 18px;
    display: flex;
    align-items: center;
  }

  &__inner {
    @include bar;
    width: 24px;
    transition: width 0.1s ease;

    &::before {
      @include bar;
      width: 16px;
      content: "";
      position: absolute;
      bottom: 8px;
      transition: bottom 0.1s ease, width 0.1s ease, transform 0.1s ease;
    }

    &::after {
      @include bar;
      width: 16px;
      content: "";
      position: absolute;
      top: 8px;
      transition: top 0.1s ease, width 0.1s ease, transform 0.1s ease;
    }
  }

  &--active {
    box-shadow: none;
    border: 1px solid $color-primary;

    .hamburger__inner {
      width: 0;

      &::before {
        bottom: 0;
        width: 24px;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        width: 24px;
        transform: rotate(-45deg);
      }
    }
  }
}
