@import "./button";

.navigation {
  width: 100vw;
  background-color: $color-bg;
  background-color: var(--brand-color);
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #1f1f20;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  &__content {
    box-sizing: border-box;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: $color-bg;
    padding-left: 2.5rem;

    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    z-index: 2;

    transform: translate3d(-100%, 0, 0);
    transition: transform 0.2s ease, visibility 0s linear 0.2s;

    &--active {
      visibility: visible;
      transform: translate3d(0, 0, 0);
      transition: transform 0.2s ease, visibility 0s linear;
    }

    &--initial {
      transition: none;
    }

    a:nth-last-child(2) {
      margin-bottom: 80px;
    }
  }

  &__text {
    @extend .text-nav;
    @extend .text-white;
    text-decoration: none;
    opacity: 0.3;
    transition: opacity 0.1s ease;

    margin-bottom: 20px;

    &:hover,
    &:active,
    &--active {
      opacity: 1;
    }
  }
}
