#contactUs {
  .contact {
    padding: 5rem 0;

    &__label {
      display: flex;
      align-items: center;
      margin-top: 3.75rem;
    }

    &__h2 {
      @extend .text-white;
      margin: 0.75rem 0 1.25rem;
    }

    &__line {
      color: $color-primary;
      background-color: currentColor;
      height: 0.25rem;
      width: 2.5rem;
      margin: 0;
      margin-bottom: 3.75rem;
      border-style:none;
    }

    &__body {
      @extend .text-body18;
      @extend .text-white75;
      margin-bottom: 2.5rem;
    }

    &__button {
      background: linear-gradient(90deg, #c45af4 0%, #7163de 100%);
      padding: 0.75rem 1.25rem;
      border-radius: 0.5rem;
      text-decoration: none;
      margin-bottom: 5rem;
      display: inline-block;
    }

    &__h4 {
      @extend .text-white;
      margin: 0;
      display: inline;
    }

    &__info {
      padding: 0 2rem;
      margin-bottom: 2.5rem;

      &:last-child {
        margin-bottom: 5rem;
      }
    }

    &__abouth4 {
      @extend .text-white;
      margin-bottom: 0;
    }
  }
}
