#workWorks {
  .work {
    @extend .grid;
    height: 32rem;
    border-radius: 0.75rem;
    display: flex;
    margin-bottom: 2.5rem;
    text-decoration: none;
    overflow: hidden;
    position: relative;

    &__h3 {
      @extend .text-white;
      padding: 1.75rem;
      margin: 0;

      &--bottom {
        @extend .work__h3;
        align-self: flex-end;
      }
    }
    &__imageHolder {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      &--bottom {
        @extend .work__imageHolder;
        bottom: 0;
      }
    }
    &__image {
      width: 100%;
      @include breakpoint("sm") {
        width: 70%;
      }
    }
  }
}

#workFlash {
  background-color: $color-flash;
}

#workSpenmo {
  background-color: $color-spenmoLight;
}

#workTightrope {
  background-color: $color-tightropeLight;
}

#workDiab {
  background-color: $color-diabLight;
}
