#workWorks {
  .work {
    @extend .grid;
    height: 28rem;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2.5rem;
    text-decoration: none;
    overflow: hidden;

    &__h3 {
      @extend .text-white;
      padding: 1.75rem;
    }
    &__imageHolder {
      max-height: 70%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    &__image {
      height: 100%;
    }
  }
}

#workSpenmo {
  background-color: $color-spenmoLight;
}

#workTightrope {
  background-color: $color-tightropeLight;
}

#workDiab {
  background-color: $color-diabLight;
}
