:root {
  font-size: 16px;
}

body {
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.disable-scroll {
  overflow: hidden;
}
