:root {
  font-size: 16px;
}

body {
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.disable-scroll {
  overflow: hidden;
}

.hero__arrow {
  background-color: transparent;
  border: none;
  width: 100%;
  position: fixed;
  bottom: 40px;
}
