// Colors
$color-primary: #c45af4;
$color-secondary: #7263df;
$color-white: #fff;
$color-white75: #b2b2b7;
$color-white50: #818188;
$color-white40: #52525b;
$color-white30: #616163;
$color-white20: #4b4b4d;
$color-gray: #2c2c2f;
$color-bg: #1e1e20;
$color-bgDark: #141416;
$color-spenmo: #f28045;
$color-spenmoLight: #ff8e31;
$color-tightrope: #58bcbc;
$color-tightropeLight: #3be4e4;
$color-diab: #3cc823;
$color-diabLight: #3be47f;
