#projectTightrope {
  --brand-color: #3be4e4;
  --brand-image: url(../images/projects/tightrope/herobg.svg);
  --brand-next: url(../images/projects/tightrope/next.png);
}

#projectSpenmo {
  --brand-color: #ff8e31;
  --brand-image: url(../images/projects/spenmo/herobg.svg);
  --brand-next: url(../images/projects/spenmo/next.png);
}

#projectDiab {
  --brand-color: #3be47f;
  --brand-image: url(../images/projects/diab/herobg.svg);
  --brand-next: url(../images/projects/diab/next.png);
}

#projectFlash {
  --brand-color: #f9cf2f;
  --brand-image: url(../images/projects/flash/herobg.svg);
  --brand-next: url(../images/projects/flash/next.png);
}
